# Though working on the SDK doesn't require these environment variables,
# writing and debugging Playwright tests for features does.
#
# Copy this file to `.env.local` (`cp .env.example .env.local`) and fill in the values there
# (`.env.local` is ignored by git)

# This is a write token that allows Playwright to interact with the kitchensink app / project as an authenticated user
# You can generate your own token by heading over to the tokens-section of
# https://www.sanity.work/manage/, or 
# by using your CLI user token (`SANITY_INTERNAL_ENV=staging sanity debug --secrets`)
SDK_E2E_SESSION_TOKEN=
SDK_E2E_PROJECT_ID=3j6vt2rg

# we test with multiple Resource configurations at once. For now, these are in the same project
SDK_E2E_DATASET_0=production
SDK_E2E_DATASET_1=testing
