name: Build

on:
  # Build on pushes to branches that have a PR (including drafts)
  pull_request:
  # Build on pushes to the main branch
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    strategy:
      matrix:
        node-version: [20, 22]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: pnpm build
