name: Lint Check

on:
  # Build on pushes to branches that have a PR (including drafts)
  pull_request:
  # Build on pushes to the main branch
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          node-version: 20

      - name: Lint
        run: pnpm lint
