name: Test

on:
  # Build on pushes to branches that have a PR (including drafts)
  pull_request:
  # Build on pushes to the main branch
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    strategy:
      matrix:
        node-version: [20, 22]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Test
        run: |
          ARGS="--test-timeout=60000 --retry 4"
          if [ "${{ matrix.node-version }}" == "20" ]; then
            # We only gather coverage from a single Node version.
            # We pass in `--reporter=blob` so that we can combine the results from all shards.
            ARGS="$ARGS --coverage --reporter=default --reporter=blob"
          fi
          pnpm test $ARGS

      - name: Upload blob report to GitHub Actions Artifacts
        if: ${{ !cancelled() && matrix.node-version == '20' }}
        uses: actions/upload-artifact@v5
        with:
          name: blob-report-${{ github.run_id }}-${{ matrix.node-version }}
          path: ".vitest-reports/*"
          include-hidden-files: true
          retention-days: 1

  report-coverage:
    if: ${{ !cancelled() }}
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          node-version: 20

      - name: "Download coverage artifacts"
        uses: actions/download-artifact@v5
        with:
          path: .vitest-reports
          pattern: blob-report-${{ github.run_id }}-*
          merge-multiple: true

      - name: Merged report
        run: |
          pnpm vitest run --merge-reports --coverage

      - name: Report coverage
        uses: davelosert/vitest-coverage-report-action@8ab049ff5a2c6e78f78af446329379b318544a1a # v2
